.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  grid-auto-rows: 0.9375rem;
}

.calendar-day--light,
.calendar-day--dark {
  font-weight: 700;
  font-family: inherit;
  font-size: var(--fs-400);
  line-height: 0.9375rem;
  text-align: center;
  letter-spacing: -0.015625rem;

  border: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  background-color: transparent;
}

.calendar-day--dark {
  color: var(--clr-DFE3FA);
}

.calendar-day--light {
  color: #0c0e16;
}

.calendar-day--light:hover,
.calendar-day--dark:hover {
  color: #7c5dfa;
}

.calendar-day--disabled--dark {
  color: rgba(223, 227, 250, 0.2);
}

.calendar-day--disabled--light {
  color: rgba(12, 14, 22, 0.2);
}
