@use "../abstracts/" as *;

html {
  scrollbar-width: thin;
}

body {
  background-color: var(--page-bg-color);
}

:is(a, button, input, textarea, select, details, summary, div, label) {
  &:focus-visible {
    outline: var(--focus-outline-color) dotted 0.19rem;
    outline-offset: 0.19rem;
  }
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-neutral-600-hsl);
  border-radius: 100vmax;
}
