@use "/sass/abstracts" as *;

.filter {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  position: relative;
}

.text::before {
  content: "Filter";

  @include min-breakpoint(32rem) {
    content: "Filter by status";
  }

  @include min-breakpoint(48rem) {
    font-weight: var(--fw-bold);
  }
}

.options_container {
  position: absolute;
  top: 2rem;
  left: -5rem;

  padding: 1.5rem;

  width: 12rem;

  display: grid;
  gap: 1rem;

  background-color: var(--filter-container-bg-color);
  box-shadow: 0 10px 20px 0 var(--filter-container-shadow-color);

  z-index: 10;

  transition: box-shadow 0.4s ease, background-color 0.4s ease;
}
