@use "/sass/abstracts/" as *;

.drawer {
  --width: 38.5rem;

  position: fixed;
  top: var(--header-height);
  left: calc(var(--width) * -1);
  bottom: 0;
  z-index: var(--z-index-drawer);

  width: 38.5rem;

  border-radius: 0 20px 20px 0;

  background-color: var(--page-bg-color);

  overflow: hidden;

  transition: left 0.4s ease;

  @include min-breakpoint(90rem) {
    top: 0;
  }
}

.drawer__open {
  left: 0;
  display: grid;

  @include min-breakpoint(90rem) {
    left: 6.4375rem;
  }
}
