.id {
  font-size: var(--fs-400);
  line-height: 0.9375rem;
  letter-spacing: -0.015625rem;
  margin-bottom: 0.25rem;
}

.description--light,
.description--dark {
  margin-bottom: 1.875rem;
}

.description--dark {
  color: #dfe3fa;
}

.description--light {
  color: #7e88c3;
}

@media (min-width: 48rem) {
  .id {
    margin-bottom: 0.5rem;
    font-size: var(--fs-600);
    line-height: 1.5rem;
    letter-spacing: -0.05rem;
  }
}
