.container {
  margin-top: 2.25rem;
  grid-column: 1 / -1;
}

.sent-to--light,
.sent-to--dark {
  font-weight: 500;
  font-size: var(--fs-400);
  line-height: 0.9375rem;
  letter-spacing: -0.015625rem;
  margin-bottom: 0.75rem;
}

.sent-to--light {
  color: #7e88c3;
}

.sent-to--dark {
  color: #dfe3fa;
}

.email--light,
.email--dark {
  font-weight: 700;
  font-size: var(--fs-500);
  line-height: 1.25rem;
  letter-spacing: -0.01953125rem;
  margin-bottom: 2.5rem;
}

.email--dark {
  color: #fff;
}

.email--light {
  color: #0c0e16;
}

@media (min-width: 48rem) {
  .container {
    margin-top: 0;
    grid-column: 3 / 4;
  }
}
