.checkbox_wrapper {
  display: inline-flex;
  align-items: center;
  gap: 0.875rem;

  font-size: 0.75rem;
  font-weight: var(--fw-bold);
  color: var(--label-checkbox-color);
  line-height: normal;

  cursor: pointer;

  transition: color 0.4s ease;

  span:last-child {
    position: relative;
    top: 1px;
  }

  &:hover .custom_checkbox {
    border-color: hsl(var(--clr-primary-400));
  }
}

.checkbox {
  display: none;
}

.custom_checkbox {
  width: 1rem;
  height: 1rem;

  border-radius: 2px;
  border: 1px solid transparent;

  background-color: var(--checkbox-bg-color);

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  transition: background-color 0.4s ease, border-color 0.4s ease;

  &::before {
    content: "";

    opacity: 0;

    position: relative;
    top: -1px;

    width: 4.5px;
    height: 9px;

    border: 1px solid hsl(var(--clr-neutral-100));
    border-width: 0 2px 2px 0;

    transform: rotate(45deg);

    transition: opacity 0.4s ease;
  }
}

.checkbox:checked ~ .custom_checkbox {
  background-color: hsla(252, 94%, 67%, 1);
}

.checkbox:checked ~ .custom_checkbox::before {
  opacity: 1;
}
