.empty_list_message {
  display: grid;
  gap: 1.5rem;
  place-content: center;
}

.title {
  font-size: 1.25rem;
  font-weight: var(--fw-bold);
  color: var(--heading-text-color);
}

.message {
  color: var(--empty-list-message-text-color);
  width: 25ch;

  span {
    font-weight: var(--fw-bold);
  }
}
