.btn--light,
.btn--dark {
  font-family: inherit;
  text-decoration: none;
  font-weight: 700;
  font-size: var(--fs-400);
  line-height: 0.9375rem;
  letter-spacing: -0.015625rem;
  display: inline-block;
  margin-bottom: 2rem;
}

.btn--dark {
  color: #fff;
}

.btn--light {
  color: #0c0e16;
}

.btn--light svg,
.btn--dark svg {
  margin-right: 1.5rem;
}
