.badge {
  width: 104px;
  height: 40px;
  font-weight: 700;
  font-size: var(--fs-400);
  line-height: 0.9375rem;
  letter-spacing: -0.015625rem;
  padding: 1.083em 0;
  text-transform: capitalize;

  display: flex;
  align-items: center;
  justify-content: center;
}

.badge--green {
  background-color: rgba(51, 214, 159, 0.06);
  color: var(--clr-33D69F);
  border-radius: 6px;
}

.badge--green::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--clr-33D69F);
  margin-right: 0.5rem;
}

.badge--orange {
  background-color: rgba(255, 143, 0, 0.06);
  color: var(--clr-FF8F00);
  border-radius: 6px;
}

.badge--orange::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--clr-FF8F00);
  margin-right: 0.5rem;
}

.badge--silver {
  background-color: rgba(223, 227, 250, 0.06);
  color: var(--clr-DFE3FA);
  border-radius: 6px;
}

.badge--silver::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--clr-DFE3FA);
  margin-right: 0.5rem;
}
